# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Reports and exports
*.xlsx
*.csv

# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Databases
*.db

# IDEs
.vscode/
.idea/

# Build files
dist/
build/
